node_modules/
music/music.mp3
music/users/*
!music/users/*.example
!music/users/addUser.md
package-lock.json
howto.md
.gitattributes
src/notes.md
logs/
test.js
src/Events/resume.js
src/Commands/fun/
.vscode/
config/
!config/*.example
*.old
