node_modules/
music/*.mp3
music/users/*
music/everyone/*
music/default/*.m4a
!music/users/*.example
!music/users/addUser.md
howto.md
.gitattributes
src/notes.md
logs/
test*
src/Events/resume.js
src/Commands/4_fun/
.vscode/
config/
!config/*.example
*.old*
.VSCodeCounter
nodemon.json
musicold/
*.eol
