.env
node_modules/
music/music.mp3
music/users/*.mp3
music/users/userList.md
package-lock.json
howto.md
.gitattributes
src/notes.md
logs/
test.js
src/Events/error.js
src/Events/warn.js
src/Events/resume.js
src/Commands/fun/
src/Commands/minecraft
.vscode/
config/config.json
config/*settings.json
