services:
  welcomerbot:
    image: ghcr.io/enhancedmind/welcomerbot:latest
    container_name: welcomerbot
    environment:
      - TZ=Europe/Prague # set your timezone here, used for timestamping logs and responses to commands
    ports:
      - 3000:3000
    volumes:   # these 3 volumes have to be mapped inside the container, theoretically logs are optional. (host:container)
      - ~/docker/welcomerbot/config/:/app/config/
      - ~/docker/welcomerbot/logs/:/app/logs/
      - ~/docker/welcomerbot/music/:/app/music/
    restart: unless-stopped

  filebrowser-init:
    image: filebrowser/filebrowser:s6
    container_name: welcomerbot-filebrowser-init
    user: "1000:1000"
    environment:
      - TZ=Europe/Prague
      - PUID=1000
      - PGID=1000
    volumes:
      - ~/docker/welcomerbot/config/filebrowser/config:/config
      - ~/docker/welcomerbot/config/filebrowser/database:/database
    entrypoint: /bin/sh   # set filebrowser admin password in this service
    command: >
      -c "if [ ! -f /database/filebrowser.db ]; then
            echo 'Database file missing! Importing exported_config.json...';
            filebrowser config import /config/exported_config.json --database /database/filebrowser.db;

            echo 'Creating admin user...';
            filebrowser users add admin adminpassword --database /database/filebrowser.db --perm.admin=true; 
            
            echo 'Initialization complete!';
          else
            echo 'Database already exists. Skipping initialization.';
          fi" 

  filebrowser:
    image: filebrowser/filebrowser:s6
    container_name: welcomerbot-filebrowser
    environment:
      - TZ=Europe/Prague
      - PUID=1000
      - PGID=1000
    volumes:
      - ~/docker/welcomerbot/music/:/srv
      - ~/docker/welcomerbot/config/filebrowser/config:/config
      - ~/docker/welcomerbot/config/filebrowser/database:/database
    restart: unless-stopped
    depends_on:
      filebrowser-init:
        condition: service_completed_successfully
