{
    "terminateOnUncaughtException": false,
    "bot": {
        "token": "put your bot token here",
        "prefix": "*",
        "owner_id": "put your discord id here"
    },
    "status": {
        "status": "online",
        "game": "made by EnhancedMind ❤️"
    }
}